/* alvee */
body {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal; */
}
.fw-semibold {
  font-weight: 600;
}

.bg-light-purple {
  background-color: #efedfd;
}
.w-600 {
  width: 300px;
}

.text-fade {
  color: #707070;
}

/* ...................... */

/* fuad */

/* .......................... */
/* fuad */
footer{
    background-color: #EFEDFD;
}
nav{
    line-height: 2;
}
nav a{
    text-decoration: none;
}

.links{
    color: gray;
}

.social-link a{
    margin-right: 10px;
}

.subscribe{
    background-color: #614FEC;
}

.link-content1{
    margin-left: 140px;
}
.link-content2{
    margin-right: 250px;
}

/* .......................... */